
# git source control files
.git
.gitignore

# VARSION version control config file
.atoolconfig.json

# other root files
LICENSE
VERSION
README.md
CHANGELOG.md

# docker-compose static files folder
docker.static.files

# deploy files
kube.deploy.yml
docker-compose.yml

# scripts folder
/scripts

# bin and obj directories
**/bin
**/obj

# vs user files
**/.vs
**/.user
**/Properties

# vs code user files
.vscode
