
# git source control files
.git
.gitignore

# VARSION version control config file
.atoolconfig.json

# other root files
LICENSE
VERSION
README.md

# deploy files
kube.deploy.yml
docker-compose.yml

# scripts folder
/scripts

# bin and obj directories
**/bin
**/obj

# vs user files
**/.user
